<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- <link href="http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic" rel="stylesheet" type="text/css" /> -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery.dropotron.min.js" %}"></script>
    <script src="{% static "js/skel.min.js" %}"></script>
    <script src="{% static "js/skel-panels.min.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <noscript>
      <link rel="stylesheet" type="text/css" href="../static/css/skel-noscript.css"/>
      <link rel="stylesheet" href="../static/css/style.css"/>
      <link rel="stylesheet" href="../static/css/style-wide.css"/>
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
    <title>{{ title }}</title>
  </head>
  <body>
    <!--Header -->
    <section id="heading" class="dark">
      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <span>Category</span>
            <ul>
              <li><a href="/events/music">Music</a></li>
              <li><a href="#">Celebration</a></li>
              <li><a href="/events/movie">Movie</a></li>
              <li>
                <span>Sports ...</span>
                <ul>
                  <li><a href="#">Cricket</a></li>
                  <li><a href="#">Football</a></li>
                  <li><a href="#">Hockey</a></li>
                  <li><a href="#">Tennis</a></li>
                </ul>
              </li>
              <li><a href="#">Social</a></li>
            </ul>
          </li>
          <li><a href="left-sidebar.html">About Us</a></li>
          <li><a href="right-sidebar.html">We are Hiring</a></li>
          <li><a href="no-sidebar.html">Login/Signup</a></li>
        </ul>
      </nav>
      <header>
        <h1>Welcome to EventExplosion</h1>
        <p>Your Event, Our Expolsion</p>
      </header>
      <footer>
        <a href="#first" class="button scrolly">Create your Event</a>
      </footer>
    </section>

    <!-- Footer code -->
    <div id="footer">
    <div class="row">
      <div class="12u">
        <section class="contact">
          <header>
            <h3>Event Exlosion</h3>
          </header>
          <p>This is design by Team EventExplosion</p>
          <ul class="icons">
            <li><a href="#" class="fa fa-twitter solo"><span>Twitter</span></a></li>
            <li><a href="#" class="fa fa-facebook solo"><span>Facebook</span></a></li>
            <li><a href="#" class="fa fa-google-plus solo"><span>Google+</span></a></li>
            <li><a href="#" class="fa fa-pinterest solo"><span>Pinterest</span></a></li>
            <li><a href="#" class="fa fa-dribbble solo"><span>Dribbble</span></a></li>
            <li><a href="#" class="fa fa-linkedin solo"><span>Linkedin</span></a></li>
          </ul>
        </section>

        <!-- Copyright -->
        <div class="copyright">
          <ul class="menu">
            <li>&copy; EventExplosion. All rights reserved.</li>
            <li><a href="" title="">Terms & Condition</a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>