<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <!-- <link href="http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic" rel="stylesheet" type="text/css" /> -->

    <link rel="stylesheet" href="{% static "css/reveal.css" %}"/>


    <script src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{% static "js/jquery.dropotron.min.js" %}"></script>
    <script src="{% static "js/skel.min.js" %}"></script>
    <script src="{% static "js/skel-panels.min.js" %}"></script>
    <script src="{% static "js/jquery.reveal.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>



    <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
    <noscript>
      <link rel="stylesheet" type="text/css" href="{% static 'css/skel-noscript.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
      <link rel="stylesheet" href="{% static 'css/style-wide.css' %}"/>
    </noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
    <title>EventExplosion | Home </title>
  </head>


  <body>
    <!--Header -->
    <section id="heading" class="dark">
      <!-- Nav -->
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <span>Category</span>
            <ul>
              <li><a href="/events/music">Music</a></li>
              <li><a href="#">Celebration</a></li>
              <li><a href="/events/movie">Movie</a></li>
              <li>
                <span>Sports ...</span>
                <ul>
                  <li><a href="#">Cricket</a></li>
                  <li><a href="#">Football</a></li>
                  <li><a href="#">Hockey</a></li>
                  <li><a href="#">Tennis</a></li>
                </ul>
              </li>
              <li><a href="#">Social</a></li>
            </ul>
          </li>
          <li><a href="left-sidebar.html">About Us</a></li>
          <li><a href="right-sidebar.html">We are Hiring</a></li>
          {% if user.is_authenticated %}
			<li>{{user.username}}</li>
          {% else %}
          <li><a href="#" class="big-link" data-reveal-id="myModal" id="loginmodel" data-animation="fade" >Login/Signup</a></li>
			{% endif %}
        </ul>
      </nav>





      <header>
        <h1>Welcome to EventExplosion</h1>
        <p>Your Event, Our Expolsion</p>
      </header>


      <footer>
        <a href="#first" class="button scrolly">Create your Event</a>


      </footer>
</section>

<div id="myModal" class="reveal-modal">
	<a href="/accounts/facebook/login" align="center" class="revealanchor"><img src="{% static "img/fblogin1.png" %}" alt=""> </img></a>
			<a class="close-reveal-modal">&#215;</a>
		</div>
	<!-- First Section -->
	<section id="first" class="main">
		<header>
			<div class="container">
				<h2>Welcome to Event Explosion</h2>
				<p>We will help you to explode your event.<br />
				You just create your event here and we will explode your event.</p>
			</div>
			{% block ee-header %} {% endblock %}
		</header>

		<div class="content dark style1">
			<div class="container">
				<div class="row">
					<div class="4u">
						<section>
							<span class="feature-icon"><span class="fa fa-clock-o"></span></span>
							<header>
								<h3>Create Event</h3>
							</header>
							<p>Description about "Create Event"</p>
						</section>
					</div>
					<div class="4u">
						<section>
							<span class="feature-icon"><span class="fa fa-bolt"></span></span>
							<header>
								<h3>Bring Supporter</h3>
							</header>
							<p>Description about "Bring Supporter"</p>
						</section>
					</div>
					<div class="4u">
						<section>
							<span class="feature-icon"><span class="fa fa-cloud"></span></span>
							<header>
								<h3>Explosion</h3>
							</header>
							<p>Description about "Explosion"</p>
						</section>
					</div>
				</div>
				<div class="row">
					<div class="12u">
						<footer>
							<a href="#second" class="button scrolly">Create Your Event</a>
						</footer>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Featured -->
	<section class="featured">
		<header>
			<div class="bar-event">
				Featured Events
			</div>
			<!-- Testing of carousal -->
<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<div class="main-event row">
	<div class="event-thumb 4u">
		<img src="static/images/pic01.jpg" alt="">
		<h3>Event Name</h3>
		<p>Event Description harhs jiskfhks fhks fskf sgkfgsk fsgfjsgfksdf skfsk </p>
		<p>Supporter Goal</p>
		<p>Event Creater</p>
		<p>Social Reach and Graph</p>
	</div>

	<div class="event-thumb 4u">
		<img src="static/images/pic01.jpg" alt="">
		<h3>{{eventname}}</h3>
		<p>Event Description harhs jiskfhks fhks fskf sgkfgsk fsgfjsgfksdf skfsk </p>
		<p>Supporter Goal</p>
		<p>Event Creater</p>
		<p>Social Reach and Graph</p>
	</div>

	<div class="event-thumb 4u">
		<img src="static/images/pic01.jpg" alt="">
		<h3>Event Name</h3>
		<p>Event Description harhs jiskfhks fhks fskf sgkfgsk fsgfjsgfksdf skfsk </p>
		<p>Supporter Goal</p>
		<p>Event Creater</p>
		<p>Social Reach and Graph</p>
	</div>
</div>
<!--
<div id="links">
    <a href="images/pic01.jpg" title="Banana">
        <img src="images/pic01.jpg" alt="Banana">
        <img src="images/pic04.jpg" alt="">
    </a>
    <a href="images/pic02.jpg" title="Apple">
        <img src="images/pic02.jpg" alt="Apple">
    </a>
    <a href="images/pic03.jpg" title="Orange">
        <img src="images/pic03.jpg" alt="Orange">
    </a>
</div>
<script src="js/blueimp-gallery.min.js"></script>

<script>
blueimp.Gallery(
    document.getElementById('links').getElementsByTagName('a'),
    {
        container: '#blueimp-gallery-carousel',
        carousel: true
    }
);
</script>
-->

<!-- Testing over -->
		</header>
	</section>

	<!-- Running -->
	<section class="running">
		<header>
			<div class="bar-event">
				Running Events
			</div>
		</header>
	</section>
	<!-- Completed -->
	<section class="complete">
		<header>
			<div class="bar-event">
				Completed Events
			</div>
		</header>
	</section>



    <!-- Footer code -->
    {% block ee-footer %}
		{% include 'footer.html' %}
    {% endblock ee-footer %}

</body>
</html>