<!DOCTYPE html>
<html>
    <head>
        <title>
          {{ title }}
        </title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    </head>
    <body class="logged-out">
    </body>
</html>