{% extends "base.html" %}

{% block title %} Event Explosion | Profile {% endblock title %}

{% block ee-header %}

{% if myuser %}
    <h1>Welcome, {{myuser.first_name}} {{ myuser.last_name }}</h1>
    <!--
    <p>Following is the Extra information that facebook has provided to allauth:</p>
    {% for account in myuser.socialaccount_set.all %}
        <h2 style="text-transform:capitalize;">{{ account.provider }} account data</h2>
        <p><img width="50" height="50" src="{{ data.user_image }}" /></p>
        <p>UID: <a href="{{account.extra_data.link }}">{{ account.uid }}</a></p>
        <p>Username: {{ account.extra_data.username }}</p>
        <p>First Name: {{ account.extra_data.first_name }}</p>
        <p>Last Name: {{ account.extra_data.last_name }}</p>
        <p>Profile Link: <a href="{{ account.extra_data.link }}">{{ account.extra_data.link }}</a></p>
    {% endfor %}-->
    <p><img width="100" height="100" src="{{ myuser.user_image }}" /></p>
    <p>Friend Count : {{myuser.friend_count}}</p>
{% else %}
    <h1>Login To Post Your Events</h1>
{% endif %}

<!--<a href="/accounts/facebook/login" > Login </a>-->
{% endblock ee-header %}

{% block ee-content %}
    <p><a href='/'> Back to Home </a><p>
{% endblock ee-content %}

<!-- Footer code
{% block ee-footer %}
    {% include 'footer.html' %}
{% endblock ee-footer %}-->