{% extends 'base.html' %}

{% block content %}
<form action='' method="post">
	{% csrf_token %}
	{% if form.errors %}<p>Please correct Errors before Submitting</p>{% endif %}
	{{ form.as_p }}
	<p><input type ="submit" value="Login"></p>
</form>

{% endblock %}