{% extends 'base.html' %}

{% block content %}
	<p>Name : {{ eventuser.display_name }}</p>
	<p>Email : {{ eventuser.user.email }}</p>
	<p>Created Events : {{ eventuser.show_created }}</p>
	<p>Supported Events : {{ eventuser.show_supported }} </p>
{% endblock %}