<!--Needs Following context
	- events : list containing all the event objects to show on page
	- user : for login logout purpose
-->
{% extends 'base.html' %}
{% block title %} {{ event.event_name }} | Details {% endblock %}
{% block content %}
<h1>{{ event.event_name }}</h1>
<img src="{{ MEDIA_URL }}{{ event.event_image }}" class="resize">
<p><h3> {{ event.short_description }} </h3></p>
<p><a href="{{ event.link }}">{{ event.link }}</a></p>
<p>posted on : {{ event.publish_date }}</p>
<p>Current no of supporters : {{ event.get_supporter_count }} </p>
<p>Current Virality : {{ event.get_virality }}</p>
<p>Supporter Goal : {{ event.supporter_goal }} </p>
<p> {{ event.long_description }} </p>
<p> {{ event.hashtag }} </p>
<p>Created By : {{ event.event_creator }}</p>
{% if event in supported_events %}
	<p><a href='/login/'>Event supported</a></p>
{% else %}
	<p><a href="/support/{{ event.slug }}">Support Event</a></P>
{% endif %}
{% endblock %}