<!--Needs Following context
	- events : list containing all the event objects to show on page
	- supported_events : if loged in user all the event he supports for button fadding ,list will be empty for logged out user
	- user : for login logout purpose
-->
{% extends 'base.html' %}
	{% block title %} Event Explosion | All Events {% endblock %}
{% block content %}
	<h1>All Events</h1>
	{% for event in events %}
		<h3><p><a href="/events/{{ event.slug }}/">{{ event.event_name }}</a></p></h3>
		<img src="{{ MEDIA_URL }}{{ event.event_image }}" class="resizepro">
		<p>{{ event.short_description }}</p>
		{% if event in supported_events %}
			<p><a href='/login/'>Event supported</a></p>
		{% else %}
			<p><a href="/support/{{ event.slug }}">Support Event</a></P>
		{% endif %}
	{% endfor %}
{% endblock %}
