{% extends 'base.html' %}
{% block title %} Add New Event {% endblock %}
{% block ee-content %}
{% if form.errors %}<p>Please correct Errors before Submitting</p>{% endif %}
	<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<p><input type='submit' value='Creat Event'></p>
	</form>
{% endblock ee-content %}